<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="../static/coderstoday/css/try-coding.css">
  </head>
  <body>

<div id="dhtmlgoodies_dragDropContainer">
	<div id="dhtmlgoodies_listOfItems">
		<div>
			<p>Steps to make a tea</p>
		<ul id="allItems">
			<li id="node6">Add some milk and wait</li>
			<li id="node2">Boil Water</li>
			<li id="node1">Turn on gas stove</li>
			<li id="node5">Let it boil</li>
			<li id="node3">Add tea leaves</li>
			<li id="node4">Add Sugar</li>
			<li id="node7">Enjoy your tea</li>
		</ul>
		</div>
	</div><div id="dhtmlgoodies_mainContainer">
		<!-- ONE <UL> for each "room" -->
		<div>
			<p>Drag and drop here to complete the code</p>
			<ul id="box1">
			</ul>
		</div>
	</div>
</div>
<ul id="dragContent"></ul>
<div id="dragDropIndicator"><img src="https://i.gifer.com/ZZ5H.gif"></div>
<div id="saveContent"><!-- THIS ID IS ONLY NEEDED FOR THE DEMO --></div>
<div id="runCodeBtn">
	<button onclick="checkForTea()">Run&nbsp;<img src="../static/coderstoday/images/play1.png"></button>
</div>

<div class="result-block">
	<div class="result-container">
		<div class="loading">
			<img src="../static/coderstoday/images/loading.gif">
		</div>
		<div id="result-text"></div>
	</div>
</div>

</body>
<script type="text/javascript" src="../static/coderstoday/js/try-coding.js"></script>
</html>